@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body {
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 49%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;   
    color: #ededb7f5;
}

section {
  background: linear-gradient(145deg, rgba(10,20,60,0.6), rgba(0,120,255,0.15));
  border-radius: 12px;
  padding: 15px 25px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,180,255,0.15);
  
}

h1, h2 {
  color: #e4e063f5;
  text-align: center;
}

ol, ul {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 25px; 
}


li {
  line-height: 1.8; 
}


a {
  font-size: 20px;
}

p a {
  display: block;
  margin: 8px 0;
  font-size: 18px;
}

p:first-letter {
    font-size: 2rem;
}
a:link {
    color: #e9b10a;
}
 

a:visited {
    color: #f2d16b;
}
 

a:hover {
   color: #FFD700;
  text-shadow: 0 0 10px #FFD700;
  
}

video, iframe {
  display: block;           
  margin: 0 auto;
  border-radius: 15px;    
 
}

img {
  border-radius: 10px; 
}


table{
  margin: 20px auto;
  width: 90%;
  text-align: center;
}

thead {
  background: linear-gradient(90deg, #0040ff, #33ccff);
  color: #fff9cc;
}

