@media (max-width: 1024px) {


  header {
    flex-direction: column;
    text-align: center;
  }

  .main-nav ul {
    padding-left: 0;
    margin-left: 0;
    justify-content: center;
    gap: 1rem;
  }

  .user-actions {
    margin-top: 10px;
    justify-content: center;
  }


  .sub-nav input[type="search"] {
    width: 300px;
  }

  #featuredCarousel {
    margin-left: 0;
    width: 95%;
  }

  .carousel-item img {
    height: 400px;
  }

 
  #discountCarousel {
    height: auto;
  }

  .discount-grid {
    flex-wrap: wrap;
  }

  .discount-card,
  .discount-card2,
  .discount-card3 {
    width: 45%;
  }

 
  .category-grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-card {
    width: 45%;
    height: auto;
  }

  .category-head,
  .recommend-head,
  .Discount-tiltle,
  .topplay-tiltle {
    margin-left: 100px;
  }
}



@media (max-width: 768px) {

 
  header {
    flex-direction: column;
    text-align: center;
  }

  .main-nav ul {
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    gap: 0.5rem;
  }

  .user-actions {
    flex-direction: column;
    margin-top: 10px;
  }

  .sign {
    margin-top: 5px;
  }

 
  .sub-nav {
    flex-direction: column;
    gap: 10px;
  }

  .sub-nav input[type="search"] {
    width: 80%;
  }

  .sub-nav button {
    width: 50%;
  }

  #featuredCarousel {
    width: 100%;
    margin-left: 0;
    box-shadow: none;
  }

  .carousel-item img {
    height: 260px;
  }

  #discountCarousel {
    height: auto;
    margin-left: 0;
  }

  .discount-grid {
    flex-direction: column;
    align-items: center;
  }

  .discount-card,
  .discount-card2,
  .discount-card3 {
    width: 80%;
    margin-bottom: 20px;
  }


  .category-head {
    text-align: center;
    margin-left: 0;
  }

  .category-grid {
    flex-direction: column;
    align-items: center;
  }

  .category-card {
    width: 80%;
    height: auto;
  }

  .topplay-tiltle {
    text-align: center;
    margin-left: 0;
  }

  .topplay-grid {
    flex-direction: column;
    align-items: center;
  }

  .topplay-card {
    width: 80%;
    height: auto;
  }

  .Discount-tiltle,
  .category-head,
  .topplay-tiltle {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .browse-more {
    margin-right: 0;
    margin-top: 10px;
  }


  .banner img {
    height: 250px;
  }

  .banner2 img {
    width: 90%;
    margin: 0 auto;
  }


  .banner-video {
    width: 90%;
    margin: 0 auto;
  }
}



header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#0d131a;
}

header, nav {
  padding: 5px;
  margin: 0px;
  border: 2px ;

}


.main-nav ul{
    display: flex;
    gap: 2rem;  
    display:flex; 
    list-style:none; 
    gap:0px; margin:0; 
    padding-left: 990px;
    margin: 0;
    height: 3rem;
    align-items:center;
    justify-content:space-between;
    margin-left: -1400px;
}

.sub-nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #1b2838;
  padding: 10px 20px;

}

.sub-nav ul {
  display: flex;
  list-style: none;
  gap: 30px;  
  margin: 0;
  padding: 100;
}

.sub-nav a {
  color: #e1e9ee;
  text-decoration: none;
  font-size: 16px;
   transition: transform 0.3s ease
}

.sub-nav a:hover 
{
  transform: scale(1.03);
  color: rgb(112, 194, 239);
}


.main-nav a {
  color: #9a9fa2;
  text-decoration: none;
   font-size: 20px;
}

.main-nav a:hover {
   color: #ececec;
}

.user-actions {
    display: flex;  
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  margin-top: -60px;
  
}

.sign{
  color: rgb(133, 129, 129);
  margin-top: 15px;
}

.user-actions a{
  color: rgb(235, 229, 229);
}


.install-btn{
  color:rgb(95, 157, 44);
  background-color: rgb(6, 103, 6);
}

.user-actions a:hover {
   color: #5ea5ba;
}


.sub-nav form {
  display: flex;
  align-items: center;
}

.sub-nav input[type="search"] {
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #3f4346;
  width: 500px;
  color:white;
}

.sub-nav button {
  padding: 8px 12px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #3a9be9;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sub-nav button:hover{
  filter: brightness(1);
  transform: scale(1.03);
}



.banner {
  width: 100%;
  height: 480px;
  overflow: hidden;
  background-color: #1b2838;
    box-shadow: 0 0 0 rgba(0, 255, 255, 0); 
}

.banner:hover{
box-shadow: 0 0 15px rgba(185, 199, 208, 0.8);
  transform: scale(1.0); 
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

.banner2 {

   width: 100%;
  height: 100%;
  object-fit: cover;  
  object-position: center;
    
;
}

.banner2 img {
  width: 1000px;
  height: 150px;          
  overflow: hidden;     
  position: relative;
  background-color: #1b2838;
  margin-left: 240px;
  margin-top: 30px;
   
  box-shadow: 0 0 0 rgba(0, 255, 255, 0); 
}

.banner2 img:hover{

box-shadow: 0 0 15px rgba(102, 192, 244, 0.8); 
  transform: scale(1.0); 
}
.row {
  justify-content: center; 
  gap: 50px;               
}


 h3{
  align-self: flex-start; 
  margin-left: -20px;
  margin-top: -10px !important;
  color: rgb(253, 253, 254);
}

 h5{
  align-self: flex-start;
  margin-left: 1px;
  color: aliceblue;
}

.costr2-title{
    position: relative;
  top: -100px;
}


.recommend-head {
  position: relative;
  margin-left: 250px;
  margin-top: 80px;
}

.recommend-head h5 {
  color: #c7d5e0;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}


.update-title1{
   position: relative;
  top: -90px; 
}

.update-title2 {
  position: relative;
  top: 15px; 
}


.seller-title1{
      color: rgb(211, 217, 223);
     position: relative;
     top: -100px;
     display: flex;
}
.seller-title2{
    color: rgb(211, 217, 223);
     position: relative;
    margin-left: -1px;
     top: 5px;
     display: flex;
}

.game-title{
  display: flex;
  gap: 10px;
  display: inline-block; 

}

.seller-title1, .seller-title2{
  background-color: #3f4346;
    display: inline-block; 
    font-size: 13px;

}

.free-play1{
      color: rgb(211, 217, 223);
     position: relative;
    margin-left: 1px;
     top: -80px;
     font-size: 13px;
}

.free-play2{
     color: rgb(211, 217, 223);
     position: relative;
    margin-left: -1px;
     top: 20px;
     font-size: 13px;
}


.display-pic1, .display-pic2, .display-pic3{
    background: linear-gradient(145deg, #0f1923, #000000); 
  border-left: 2px solid #000000;                          
  padding: 25px 30px;             
  color: #c7d5e0;                   
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);  
  margin-left: 30px;
  width: 450px;
  height: 295px;
  justify-content: space-between;
   box-sizing: border-box;
}

.gamepic1{
  display: flex;
  gap: 20px;
  margin: 15px;
  padding: 10px;
  margin-top: 5px;
  justify-content:center;
  margin-left: -50px;
  width: 100%;
  margin-bottom: 100px;
     box-shadow: #464a4d;

}

.gamepic1 img {
  width: 45%;
  height: auto;
   transition: transform 0.3s ease;
}

.gamepic2 {
  display: flex;
    
  margin-top: -10px;
  justify-content:center;
  margin-left: -30px;
  flex-wrap: wrap;
    justify-content: flex-start;
       box-shadow: #464a4d;

}

.gamepic2 img {
  width: 45%;
  height: auto;
  margin-top: 10px;
   object-fit: cover;
    transition: transform 0.3s ease;
}

.gamepic3 {
    display: flex;
    gap: px;
    margin-top: 10px;
    justify-content: center;
    margin-left: -30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-shadow: #464a4d;
     
}

.gamepic3 img{
    width: 45%;
    height: auto;
    margin-top: 10px;
    object-fit: cover;
     transition: transform 0.3s ease;
}



.gamepic1 img:hover{
  filter: brightness(1);
  transform: scale(1.03);
}
.gamepic2 img:hover{
  filter: brightness(1);
  transform: scale(1.03);
}
.gamepic3 img:hover{
  filter: brightness(1);
  transform: scale(1.03);
}



.main-Exl img, .main-CS2 img, .main-Apex img{
    display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 10px; 
  margin-left: 110px;
   margin-top: -5px;
 background: #0d131a;
   width: 100%;
  object-fit: cover; 
  box-shadow: 2px 2px 2px 2px rgba(39, 39, 39, 0.6); 
  overflow: hidden; 
 
}

body{
     background-color: #1b2838 !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;   
}


#featuredCarousel {
    box-shadow: 0 0 20px rgba(75, 73, 73, 0.8);
  background-color:  #273850;
  margin-left: -100px;
}

.carousel-item img {
  
  object-fit: cover;
}


.carousel-caption {
  background: rgba(0, 0, 0, 0.55);
  padding: 20px;
 
}

.carousel-caption h3 {
  color: #66c0f4;
  font-weight: bold;
}

.carousel-caption p {
  color: #dcdedf;
  margin-bottom: 10px;
}


.mini-img {

  transition: transform 0.3s;
}
.mini-img:hover {
  transform: scale(1.05);
}



.carousel-indicators [data-bs-target] {
  background-color: #8f979b;
 
}

.carousel-indicators {
 
   position: absolute;
  bottom: 10px; 
}

#featuredCarousel .carousel-control-prev { left: 300px; }


#featuredCarousel .carousel-control-next { right: 240px;
  margin-top: 0px;
 }


.carousel-control-prev,
.carousel-control-next {
  width: 45px;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3);
  transition: all 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #66c0f4;
  border-color: #66c0f4;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 22px;
  height: 22px;
}




.Discount-tiltle {
  display: flex;
  
    justify-content: space-between;
    align-items: center;  
  margin-bottom: -25px;
  margin-left: 210px;
  margin-top: 40px;
}


.Discount-tiltle h5 {
  margin: 0; 
  font-size: 20px;
  color: #fff;
  margin-top: 80px;
  margin-left: 50px;
}

.Discount-tiltle {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
 
 
}
.browse-more {
  background-color: #1b2838;
  color: #66c0f4;
  border: 1px solid #66c0f4;
  padding: 6px 12px;
  border-radius: 3px;
   transition: color 0.3s;
   margin-right: 330px;
   margin-top: 80px;
}

 .browse-more:hover {
  color: #efeae4f3;
}

#discountCarousel .carousel-indicators {
  bottom: 140px;    
  left: 35%;         
  transform: translateX(-50%);

}



#discountCarousel {
  max-width: 1600px;
  margin: 0 auto;
  overflow: visible;
  border-radius: 8px;
  height: 600px;;
  margin-top: 40px;
  margin-left: -50px;
  
}

#discountCarousel.carousel-item {
  
  justify-content: center; 
  align-items: center;
  background-color: #1b2735;
  height: 600px;
  padding: 30px 0;
  flex-shrink: 0;
    overflow: visible;
 
}



.discount-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: nowrap;
  padding: 0;

}


.discount-card {
  background-color: #1b2838;
  border: 1px solid #2a475e;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 340px;   
  height: auto; 
  margin-left: -6px;
}

.discount-card2{
  background-color: #1b2838 ;
  border: 1px solid #2a475e;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
 width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
   margin-left: -7px;
    overflow: hidden;
    flex-direction: column;   
    margin-top: -3px;
    height: auto;
}

.discount-card3{
  background-color: #1b2838;
  border: 1px solid #2a475e;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
 width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
   margin-left: -7px;
    overflow: hidden;
    flex-direction: column;   
    height: auto;
    margin-top: 5px;
}


.discount-card img {
  width: 100%;
  height: auto;    
  display: block;
  object-fit: cover;
  
}


.infor {
  background: linear-gradient(to bottom, #4c6589, #253e50);
  padding: 12px;
  color: #c7d5e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: auto;
}

.infor2 {
  background: linear-gradient(to bottom, #469cbd);
  padding: 12px;
  color: #c7d5e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 260px;
  height: auto;
flex-shrink: 0; 

}



.prev-discount {
  text-decoration: line-through; 
  color: #74828f;              
  font-size: 0.9rem;
 
  background-color: #3e596d;
  padding: 9px 13px;
  margin-top: 14px;
  margin-left: 20px;
}



.discount-tag,
.discount-tag2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;   
  margin-top: -20px;
}


.new-discount,
.new-discount2 {
  background-color: #4c6b22;
  color: #a4d007;
  padding: 5px 10px;
  
  font-weight: bold;
  font-size: 20px;
  display: inline-block;    
  width: auto;            
  height: auto;        
  line-height: 1.2;
  margin-top: 15px;
  
}



.discount-change2 {
  display: flex;
  flex-direction: column;   
  align-items: flex-start;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  margin-left: 90px;
  margin-top: 15px;
}

.discount-change {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  margin-left: 130px;
  margin-top: 15px;
}

.discount-change p,
.discount-change2 p {
  margin: 2px 0;
  padding: 0;
}


.original-pri, .original-pri2 {
  text-decoration: line-through;
  color: #888;
  font-size: 13px;
   background-color: #3f4346;

}

.final-pri, .final-pri2 {
  color: #a4d007;
  font-weight: bold;
  font-size: 15px;
   background-color: #4c6b22;
}


#discountCarousel .carousel-control-prev {
  left: 250px;  
  margin-top: -100px;
}

#discountCarousel .carousel-control-next {
  right: 250px;
  margin-top: -90px;
}



.category-head {
 margin-top: -50px;
 margin-left: 270px;
}

.category-head h5 {
  font-weight: bold;
  color: #c7d5e0;
  font-size: 1.4rem;
  letter-spacing: 1px;
}


#categoryCarousel {
  max-width: 1600px;
  margin: 0px auto;
  overflow: visible;
  border-radius: 8px;
   height: 270px;
   margin-top: -80px;
   margin-left: -50px;
}

#categoryCarousel .carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#categoryCarousel .carousel-item {
  flex: 0 0 auto;
  width: 100%;
  transition: transform 0.6s ease;
}

#categoryCarousel .carousel-control-prev {
  left: 200px; 
 
}

#categoryCarousel .carousel-control-next {
  right: 200px;

}



.category-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: nowrap;
  padding: 0;

}

.category-card{
  position: relative;
  width: 250px;
  height: 230px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}


.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}


.category-card:hover img {
  filter: brightness(1);
  transform: scale(1.03);
}



.categ-display{
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}


.categ-btn {
  background-color: white;
  color: #3778ad;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 18px;
  filter: brightness(0.8);
  transition: transform 0.3s ease;
}

.categ-btn:hover 
{
     filter: brightness(1);
  transform: scale(1.03);
}

#categoryCarousel .carousel-indicators {
  bottom: -40px;   
  left: 35%;         
  transform: translateX(-50%);

}


#topplayCarousel{
  margin-left: -50px;
  margin-top: 50px;
}


.topplay-tiltle {
  color: #c7d5e0;
  margin-left: 220px;
 margin-top: 80px;
}

.topplay-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: nowrap;
  padding: 0;
   margin: 0px auto;

}


.topplay-card{
  position: relative;
  width: 270px;
  height: 230px;
  overflow: hidden;
  transition: transform 0.3s ease;
}


.topplay-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;

}


.price-tag1{
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: left;
  color: white;
  background: linear-gradient(to bottom, #080d11, #1b2838);
  padding: 15px;
    filter: brightness(0.8);
  transition: filter 0.3s ease;
}


.price-tag1:hover {
  filter: brightness(1);
  transform: scale(1.03);
}

#topplayCarousel .carousel-control-prev {
  left: 170px; 
  margin-top: 5px;
}

#topplayCarousel .carousel-control-next {
  right: 170px; 
  margin-top: 5px;
}

#topplayCarousel .carousel-indicators {
  bottom: -30px;   
  left: 35%;    
  transform: translateX(-50%);

}



.banner-video{
  filter: brightness(0.8);
  transition: transform 0.3s ease;
    margin-left:-200px;
    margin-top: 50px;

}

.banner-video:hover {
 filter: brightness(1);
  transform: scale(1.03);
}
